// app global css in SCSS form

body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #414141;
  background-color: #FFF;
  margin: 0;
}

.q-field
{
  font-size: 1rem;
}

.q-field__bottom
{
  padding-top: 3px;
  padding-bottom: 5px;
}

.q-form .q-card__actions .q-btn__wrapper
{
  padding-left: 16px;
  padding-right: 16px;
}

.q-textarea.resize .q-field__native
{
  resize: both;
}

.q-dialog__inner > *
{
  pointer-events: all; /* bug in Quasar */
}

.clear_float::after
{
  content: "";
  display: table;
  clear: both;
}

.yawik-stepper
{
  background-color: #F7F7F7;
}

.yawik-stepper-width
{
  max-width: $yawik-max-stepper-width;
}

.yawik
{
  background-color: #EEF4FB;
}
